[Unit]
Description=Import TPM2 credentials into the initrd
DefaultDependencies=false

Wants=cryptsetup-pre.target
Before=cryptsetup-pre.target

RequiresMountsFor=/boot/efi
ConditionPathExists=/etc/initrd-release

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/initrd-pcr-signature

[Install]
WantedBy=cryptsetup.target
